.dashboard {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.landing-text-title {
  width: 800px;
  height: 800px;
  background-color: aliceblue;
  padding-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.landing-text {
  margin: 70px;
  font-size: 30px;

}

.landing-text p {
  padding-top: 20px;
}