:root {
	background-image: url('./app/utils/poke-background.jpg');
	--color-primary:  black;
  --color-background: #f0f0f7;
	--color-background-primary: #79ff0ade;
	--color-background-secondary: #82e76dd8;
	font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
}

body, html {
	margin: 0;
}