:root {
	background-image: url('../src/app/utils/poke-background.jpg');
	--color-primary:  black;
  --color-background: #f0f0f7;
	--color-electric-primary: #F8D030;
	--color-electric-secondary: #FAE078;
	--color-psychic-primary: #F85888;
	--color-psychic-secondary:#FA92B2;
	font-family: 'Roboto', sans-serif;
	--color-electric-background: rgba(250, 250, 250, 0.829);
}
