<div class="pokeinfo-container" *ngIf="pokeLoaded">
  <div class="poketitle-top">
    <div class="poketitle" *ngIf="pokes.name">
      {{ pokes.name | uppercase }}
    </div>
  </div>
  <div class="id-and-types-nav">
    <div class="pokeinfotop">
      <div class='poke-id'>
        <p>ID</p>
        <span class="infobox" id="infobox-id">{{
          pokes.id
        }}</span>
      </div>
      <div class='poke-types'>
        <p>Type(s)</p>
        <div class='poke-types-types'>
          <span class="infobox" id="infobox-type1">{{
            pokes.types[0].type.name
          }}</span>
          <span *ngIf="pokes.types[1]" class="infobox" id="infobox-type2">{{
            pokes.types[1].type.name
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pokeinfobottom">
    <div class="status">
      <p>{{ pokes.stats[0].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills hp" [ngStyle]="{'width': pokeStats.hp }">{{ pokes.stats[0].base_stat }}</div>
      </div>

      <p>{{ pokes.stats[1].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills attack" [ngStyle]="{'width': pokeStats.attack }">{{ pokes.stats[1].base_stat }}</div>
      </div>

      <p>{{ pokes.stats[2].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills defense" [ngStyle]="{'width': pokeStats.defense }">{{ pokes.stats[2].base_stat }}</div>
      </div>

      <p>{{ pokes.stats[3].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills spAtk" [ngStyle]="{'width': pokeStats.spAtk }">{{ pokes.stats[3].base_stat }}</div>
      </div>

      <p>{{ pokes.stats[4].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills spDef" [ngStyle]="{'width': pokeStats.spDef }">{{ pokes.stats[4].base_stat }}</div>
      </div>

      <p>{{ pokes.stats[5].stat.name | uppercase }}</p>
      <div class="container">
        <div class="skills speed" [ngStyle]="{'width': pokeStats.speed }">{{ pokes.stats[5].base_stat }}</div>
      </div>
    </div>
    <div class="picture">
      <img [src]="pokes.sprites.other.dream_world.front_default" alt="" />
    </div>
  </div>
</div>
