/* Pokeinfo container has a temporary fix to center stuff, try to fix that later please or it will be an abomination */

.pokeinfo-container {
  margin-left: 250px;
  width: 75%;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(228, 227, 227, 0.863);
  /* var(--color-psychic-primary) */
  border: 2px solid #6D5E9C;
  border-radius: 1%;
}

.poketitle-top {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  background-color: var(--color-psychic-secondary);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.poketitle {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #6D5E9C;
  width: 20%;
}

.infobox {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  border: 2px solid #6D5E9C;
  width: 20%;
}

#infobox-id {
  width: 5%;
  justify-content: center;
}

#infobox-type1, #infobox-type2 {
  width: 15%;
  justify-content: center;
}


.status {
  width: 500px;
  border: 2px solid purple;
  background-color: var(--color-psychic-secondary);
  border-radius: 30px;
  padding: 20px
}

.picture {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid purple;
  background-color: var(--color-psychic-secondary);
  border-radius: 30px;
  padding: 40px
}

.pokeinfobottom {
  display: flex;
  justify-content: space-around;
  padding: 50px
}

.pokeinfotop, .pokeinfotop-info {
  /* background-color: var(--color-primary); */
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
}

.hp {width: 32%; background-color: rgb(209, 39, 39)}
.attack {width: 40%; background-color: rgb(202, 139, 21)}
.defense {width: 70%; background-color: rgb(170, 170, 13)}
.spAtk {width: 20%; background-color: rgb(37, 37, 158)}
.spDef {width: 35%; background-color: rgb(20, 119, 20)}
.speed {width: 35%; background-color: rgb(202, 130, 142)}

.id-and-types-nav {
  border: 2px solid purple;
  background-color: var(--color-psychic-secondary);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}